<!DOCTYPE html>
<html>
     <head>
         <meta charset="utf-8">
         <title>{$data.title}</title>
         <!-- <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
         <link rel="stylesheet" href="path/to/weui/dist/style/weui.min.css"/> -->
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="__STATIC__/bower_components/bootstrap/dist/css/bootstrap.min.css">
         <link rel="stylesheet" href="__STATIC__/css/common.css">
     </head>
     <body>
         <div class="clearfix page-nav">
             {if condition="$data.user != null"}
                 <div class="pull-left nav-username">欢迎你,{$data.user.username}! </div>
                 <div class="pull-left"><a href="/post">发布</a></div>
                 <div class="pull-right nav-quit"><a href="/quit">退出</a></div>
             {else /}
                 <div class="pull-right nav-register"><a href="/register">注册</a></div>
                 <div class="pull-right nav-login"><a href="/login">登录</a></div>
             {/if}
         </div>
